span.trend-arrow {
  transform: rotate(270deg);
  color: #ff6b81;
  font-size: 28px;

  &.trend-up {
    color: #2ed573;
    transform: rotate(180deg);
  }
}

section#dashboard {
  padding: 2rem;

  header {
    margin-bottom: 2rem;
  }

  > div.coins-list {
    position: relative;
    margin-bottom: 1rem;

    span.coins-scroll-btn {
      position: absolute;
      right: 0;
      top: 0;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      height: 100%;
      width: 48px;
    }

    > #coins-container {
      min-height: 202px;

      div.coin {
        min-width: 200px;
        width: 200px;
        height: 200px;
        padding: 2rem 1rem 1rem;
        border-radius: 10px;
        background-color: #5352ed;
        color: #ffffff;

        div.coin-stats {
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          p.coin-price {
            font-size: 32px;
            font-weight: 600;
          }
        }

        &:not(:first-of-type) {
          margin: 0 1rem;
        }
      }
    }
  }
  // FRIENDS
  section {
    position: relative;
    
    &:not(div.x-scroll) {
      position: relative;
      z-index: 5;
    }

    .friend {
      figure {
        margin: 0 2rem;

        &:first-of-type {
          margin-left: 0;
        }

        .friend-avatar {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          margin-bottom: 0.5rem;
          overflow: hidden;
          position: relative;

          img {
            position: absolute;
            left: -100%;
            right: -100%;
            top: -100%;
            bottom: -100%;
            margin: auto;
            height: auto;
            width: auto;
          }
        }

        figcaption {
          text-align: center;
        }
      }
    }
  }

  .x-scroll {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    padding: 1rem 0;
    overflow: scroll;
    scroll-behavior: smooth;
  }

  span {
    &.fade-spacer {
      position: absolute;
      right: 0;
      top: 0;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      height: 100%;
      width: 48px;
    }
  }

  a.list-end {
    color: #ec7263;
    width: 95px;
    height: 50px;
    margin: auto 0;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;

    span.material-icons {
      font-size: 48px;
      z-index: 5;
    }
  }
}
