/* CSS resets */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  background-color: #000;
  color: #fff;
  border: 1px solid;
  padding: 0.675rem 2rem;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    transition: all 300ms linear;
    opacity: 0.85;
  }

  &:active {
    transition: all 300ms linear;
    opacity: 0.75;
  }

  &:focus {
    outline: none;
  }
}

// FONTS
h2 {
  font-weight: 600;
}

#app {
  min-height: 100vh;
  background-color: #ecf0f1;
}

/* PROFILE */
div#profile {
  figure {
    padding: 2rem 0 3rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #fff;

    > img {
      width: 100%;
      max-width: 150px;
      max-height: 150px;
      margin: 0 auto 1rem;
      border-radius: 50%;
    }

    figcaption {
      padding-bottom: 1rem;
    }
  }

  section {
    max-width: 1028px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 7px;

    ul {
      li {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 1rem;
        padding: 1rem 0;
        background-color: #fff;
        border-radius: 7px;

        h3 {
          font-size: 16px;
          font-weight: 600;
        }

        p {
          color: #95a5a6;
          font-size: 12px;
          cursor: pointer;
          position: relative;

          span {
            font-size: 14px;
            margin: 0px 0px 0px 10px;
            text-decoration: none;
            color: #7f8c8d;

            &.snack-bar {
              &:before {
                content: '';
                position: absolute;
                top: 1px;
                right: 50%;
                transform: translateX(50%);
                width: 0;
                height: 0;
                border: 7px solid transparent;
                border-bottom-color: #000000;
                border-top: 0;
                margin-left: -7px;
                margin-top: -7px;
              }

              font-family: 'Open Sans', sans-serif;
              position: absolute;
              top: 23px;
              right: 50%;
              transform: translateX(50%);
              font-size: 12px;
              background-color: #000;
              color: #fff;
              padding: 0.375rem 1rem;
              border-radius: 4px;
              animation: fadein 400ms, fadeout 1s;
              animation-delay: 0s, 2s;
            }
          }

          &:active,
          &:active > span {
            transition: all 150ms linear;
            color: #000;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  div#profile {
    section {
      padding: 1rem;
    }
  }
}

// keyframes
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
