@import 'styles/nav';
@import 'styles/dashboard';

// CSS resets

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #000;
  color: #fff;
  border: 1px solid;
  padding: 0.675rem 2rem;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    transition: all 300ms linear;
    opacity: 0.85;
  }

  &:active {
    transition: all 300ms linear;
    opacity: 0.75;
  }

  &:focus {
    outline: none;
  }
}

// common classes
.card {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.07), 0 5px 5px rgba(0, 0, 0, 0.07);
}

// FONTS
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 28px;
}

#app {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

#app #app-container > *:not(.nav-container) {
  z-index: 3;
}

#app > div#app-container {
  padding-top: 70px;
  min-height: 100vh;
  position: relative;
}

/* PROFILE */
div#profile {
  header > figure,
  section {
    max-width: 768px;
    margin: 0 auto;
  }

  header.profile-header {
    background-color: #fff;

    figure {
      display: flex;
      padding: 2rem;

      > img {
        width: 100%;
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15),
          0 10px 10px rgba(0, 0, 0, 0.15);
      }

      figcaption {
        margin: auto 0;
        padding: 0 1rem 0 2rem;

        > button {
          margin-top: 0.675rem;
        }
      }
    }
  }

  section {
    padding: 2rem;
    border-radius: 7px;

    > h3 {
      font-weight: 600;
    }

    ul {
      margin-top: 1rem;

      li {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 1rem;
        padding: 2rem 1rem;
        background-color: #fff;
        border-radius: 5px;

        div.wallet-info {
          margin-bottom: 1rem;

          h3 {
            font-size: 16px;
            font-weight: 600;
          }

          p {
            color: #95a5a6;
            font-size: 12px;
            cursor: pointer;
            position: relative;
            word-wrap: break-word;

            span {
              font-size: 14px;
              margin: 0px 0px 0px 10px;
              text-decoration: none;
              color: #7f8c8d;
              overflow: visible;

              &.snack-bar {
                &:before {
                  content: '';
                  position: absolute;
                  top: 1px;
                  right: 50%;
                  transform: translateX(50%);
                  width: 0;
                  height: 0;
                  border: 7px solid transparent;
                  border-bottom-color: #000000;
                  border-top: 0;
                  margin-left: -7px;
                  margin-top: -7px;
                }

                font-family: 'Open Sans', sans-serif;
                position: absolute;
                top: 23px;
                right: 50%;
                transform: translateX(50%);
                font-size: 12px;
                background-color: #000;
                color: #fff;
                padding: 0.375rem 1rem;
                border-radius: 4px;
                animation: fadein 400ms, fadeout 1s;
                animation-delay: 0s, 2s;
              }
            }

            &:active,
            &:active > span {
              transition: all 150ms linear;
              color: #000;
            }
          }
        }

        .qrcode {
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  div#profile {
    header.profile-header > figure {
      padding: 2rem 1rem;
    }
    section {
      padding: 1rem;
    }
  }
}

// keyframes
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
